* { box-sizing:border-box; }

body {
	font-family: Helvetica;
	background: #eee;
	-webkit-font-smoothing: antialiased;
	margin:0;
	padding:0;
}

hgroup { 
	text-align:center;
	margin-top: 4em;
}

h1, h3 { font-weight: 300; }

h1 { color: #636363; }

h3 { color: #4a89dc; }

form {
	max-width: 450px;
	margin: 1em auto;
	padding: 3em 2em 2em 2em;
	background: #fafafa;
	border: 1px solid #ebebeb;
	box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

.group { 
	position: relative; 
	margin-bottom: 45px; 
}

input {
	margin:20px;
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	-webkit-appearance: none;
	display: block;
	background: #fafafa;
	color: #636363;
	width: 100%;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #757575;
}

.formLabel {
	margin:20px;
	margin-bottom: -20px;
	font-size: 18px;
	padding: 10px 10px 1px 5px;
	-webkit-appearance: none;
	display: block;
	background: #fafafa;
	color: #636363;
	width: 100%;
	border: none;
}

textarea {
	margin:20px;
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	display: block;
	background: #fafafa;
	color: #636363;
	width: 100%;
	font-family: Helvetica;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #757575;	
}

textarea:focus { border-bottom: 2px solid #235F87; outline:none }
input:focus { border-bottom: 2px solid #235F87; outline:none }


/* Label */

label {
	color: #999; 
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
}


/* active */

input:focus ~ label, input.used ~ label {
	top: -20px;
  -webkit-transform: scale(.75);
          transform: scale(.75); left: -2px;
	/* font-size: 14px; */
	color: #4a89dc;
}


/* Underline */

.bar {
	position: relative;
	display: block;
	width: 100%;
}

.bar:before, .bar:after {
	content: '';
	height: 2px; 
	width: 0;
	bottom: 1px; 
	position: absolute;
	background: #4a89dc; 
	transition: all 0.2s ease;
}

.bar:before { left: 50%; }

.bar:after { right: 50%; }


/* active */

input:focus ~ .bar:before, input:focus ~ .bar:after { width: 50%; }


/* Highlight */

.highlight {
	position: absolute;
	height: 60%; 
	width: 100px; 
	top: 25%; 
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}


/* active */

input:focus ~ .highlight {
	-webkit-animation: inputHighlighter 0.3s ease;
	        animation: inputHighlighter 0.3s ease;
}





/* Button */

.button {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  margin: .3em 0 1em 0;
  width: 100%;
  vertical-align: middle;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  letter-spacing: 1px;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #1d5377;
  cursor: pointer;
  transition: all 0.15s ease;
}
.button:focus { outline: 0; }


/* Button modifiers */

.buttonBlue {
  background: #235F87;
  text-shadow: 1px 1px 0 rgba(39, 110, 204, .5);
}

.buttonGreen {
	background: rgb(145, 207, 73);
	text-shadow: 1px 1px 0 rgba(37, 155, 26, 0.5);
  }
  
.buttonBlue:hover { background: #1d5377; }
.buttonGreen:hover{background: rgb(119, 165, 66); }



footer { text-align: center; margin-top: 20px; }

footer p {
	color: #888;
	font-size: 13px;
	letter-spacing: .4px;
}

footer a {
	color: #4a89dc;
	text-decoration: none;
	transition: all .2s ease;
}

footer a:hover {
	color: #666;
	text-decoration: underline;
}

footer img {
	width: 80px;
	transition: all .2s ease;
}

footer img:hover { opacity: .83; }

footer img:focus , footer a:focus { outline: none; }

/* 
header {
	position:absolute;
	top:0;
	left:0;
	background:#262626;
	width:100%;
	box-sizing:border-box;
  }
  header .menu {
	color:black;
	height:50px;
	line-height: 50px;
	text-align: center;
	font-size:24px;
	font-weight:bold;
	float:left;
  } */
  /* .brand {
	  color:white;
	  padding:0;
	  text-decoration: none;
	  margin:auto;
  }


  header nav {
	float:right;
  }
  header nav ul {
	margin:0;
	padding:0;
	display:flex;
  }
  header nav ul li {
	list-style-type:none;
  }
  header nav ul li a {
	color:white;
	text-decoration:none;
	line-height:50px;
	padding: 0 20px;
	display:block;
  }
  
  header nav ul li a:hover {
	background-color:#235F87;
  }
  .inactive :hover {
	background-color:#235F87;
  }	
  .active {
	background-color:#235F87;
  }

  .danger {
	background-color:#FF5252;
  } */


  /* Errors & Messages */
  .error p{
	  color: #FF5252;
  }
  .message p{
	color: green;
}


/* Card */
.card {
	border-radius: 5px;	
	max-width: 400px;
	background: white;
	margin-left: 20px;
}
.card img {
	width: 100%;
}

.teachersCard {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	background: white;
	overflow: hidden;
	border-radius: 10px;	
	max-width: 250px;
	padding:10px;
	margin: 5px;
}
.cardTitle {
	color: #2f2f2f;
	font-size: 1.8em;
	text-align:center;
}
.cardUsername {
	color: gray;
	text-align: center;
}
.cardEmail {
	color: gray;
	text-align: center;
}
.cardButton {
	border: none;
	outline: 0;
	display: inline-block;
	padding: 8px;
	color: white;
	background-color: #000;
	text-align: center;
	cursor: pointer;
	width: 100%;
	font-size: 18px;	
}

.profileImg {
	border-radius:20px;

}


/* Column */

.column {
    float: left;
    width: 50%;
	padding: 10px;
	height: 100%;
	margin: 0 auto;
	justify-content: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Hamburger Toggle */
.toggle {
	width:100%;
	background: yellow;
	text-align:right;
	box-sizing: border-box;
	display: none;
}

@media (max-width:760px){
	.content {
		margin: 6.5em auto;
	}
	.toggle {
		display: none;
	}
	header nav {
		float:center;
	}
	header nav ul {
	margin:0;
	padding:0;
	}
	header nav ul li {
	width:100%;
	float:left;
    }
	header nav ul li a {
	color:white;
	text-decoration:none;
	}
}

/* Grid */

.grid-container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 600px 600px 300px;
	grid-auto-flow: row;
}
.grid-item {
	width:300px;	
	height:510px;
	padding:10px;
  }


  /* Heroic Header */
  .heroic-header {
	  background-color:#235F87;
	  height:200px;
	  line-height: 200px;
	  width:100%;
	  justify-content: center;
	  text-align: center;
  }

  .heroic-title {
	  color:#fff;
  }
  .heroic-img {
	width:35px;
	margin-right:10px;
	margin-top:5px;
  }

  /* Events Page */

  .eventImg {
	background-color: #aaa;
	width: auto;
	height: 50%;
	margin-left: auto;
	margin-right: auto;
	display: block;
  }
  .eventFooter {
	  margin: 10px;
  }
  .eventCard {
	background-color: white;
	width: 50%;
	padding-bottom: 35px;
	padding-left: 0px;
	padding-right: 0px;
	margin: 0 auto;
	max-width: 1000px;
	min-width: 800px;
	height:auto;
  }
  
  .events-container {
	  margin: 0 auto;
	  display: table;
	  justify-content: center;
  }

  .eventTitle {
	font-size: 30px;
	background-color:#235F87;
	height:80px;
	line-height: 80px;
	color: #fff;
	padding-left: 20px;
  }
  .eventSubTitle {
	color:#008000;
	font-size: 15px;
	margin: 0px;
}
  .eventTime {
	color:#008000;
	font-size: 14px;

  }
  .eventDescription {
	  padding-left: 20px;
	  padding-right: 20px;
  }
  .eventDetails {
	font-size: 25px;
	margin-left: 20px;
	color:#000;
  }

  /* Home Grid Menu Container */

  .homeGridMenu {
	   /* Grid Fallback */
	 display: flex;
	 flex-wrap: wrap;
	 
		 /* Grid Working */
		 display: grid;
		 grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		 grid-auto-rows: minmax(150px, auto);
		 grid-gap: 1em;
	 
  }

  .moduleItem {
		/* Demo-Specific Styles */
		background: yellow;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 200px;
		
		/* Flex Fallback */
		margin-left: 5px;
		margin-right: 5px;
		flex: 1 1 200px;
  }

  /* If Grid is supported, remove the margin we set for the fallback */
@supports (display: grid) {
	.module {
	  margin: 0;
	}
  }


  /* Controllable List  */
  .controllableList {
	display: table;
	margin: 0 auto;
  }
  .controllableList ul {
	list-style-type: none; 
	display: table;
	margin: 0 auto;
	padding-left:0;
	width:450px;
  }
  .controllableList ul li{
	  padding:20px;
	  margin-top:10px;
	  margin-bottom:10px;
	  text-align: center;
	  overflow: auto;
	  position: relative;
	  background: #fff;
	  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	  transition: 0.3s;
  }
  .controllableList ul li:hover{
	  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	  cursor: pointer;
  }
  .centeredContainer{
	  align:center;
  }
  .controllableListButtons{
	  
	  text-align: center;
  }
  .controllableListButtons button{
	  width:45%;
	  position: relative;
	  display: inline-block;
	  color: #fff;
	  font-size: 16px;
	  line-height: 20px;
	  -webkit-font-smoothing: antialiased;
	  text-align: center;
	  letter-spacing: 1px;
	  cursor: pointer;
	  transition: all 0.15s ease;
  }

.controllableList ul li img{
	border: 5px solid #fff; 
  }
.controllableList ul li h1{
	font-size: 20px;
	color:#666666;
}
.controllableList ul li h4{
	color:gray;
	display: inline;
	font-size: 12px;
}
.controllableList ul li img{
	width: 30%;
	max-width:120px	
}
.minorCardHeader {
	padding:10px;
	overflow: auto;
	margin: 0 auto;
	max-width: 450px;
	margin-top:20px;
	display: table;
	width:450px;
	text-align: center;
	background: #fff;
}

  input[type=checkbox] {
	width: 30px;
	height: 30px;
	margin-right: 8px;
	cursor: pointer;
	font-size: 17px;
	visibility: hidden;
  }
  
  input[type=checkbox]:after {
	content: " ";
	background-color: #fff;
	display: inline-block;
	margin-left: 10px;
	padding-bottom: 5px;
	color: #00BFF0;
	width: 22px;
	height: 25px;
	visibility: visible;
	border: 1px solid #00BFF0;
	padding-left: 3px;
	border-radius: 5px;
  }
  
  input[type=checkbox]:checked:after {
	content: "\2714";
	padding: -5px;
	font-weight: bold;
  }
	  




  /* SNACKBAR */

  #snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbarDefault.showDefault {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbar.showSuccess {
	visibility: visible;
	background-color:#4CAF50;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbar.showError {
	visibility: visible;
	background-color:rgb(192, 20, 20);
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}


#snackbar.showWarning {
	visibility: visible;
	background-color:rgb(168, 109, 21);
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}


@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.main {
	margin-left: 160px;
	padding: 0px 0px;
	top: 0;
	height: 100%;
	overflow-x: hidden;
}

.logoImg {
	height: 150px;
}
.logoImg img{
	height: 100px;
	margin-left: auto; 
	border-radius: 100px;
	margin-right: auto; 
	display:block;
}
.activeLink {
	padding: 6px 8px 6px 16px;
	background-color: #206085;
	text-decoration: none;
	display: block;
	color: #fff;
	line-height: 40px;
	font-size: 20px;
}
.dangerLink {
	padding: 6px 8px 6px 16px;
	background-color: #f44336;
	text-decoration: none;
	line-height: 40px;
	display: block;
	color: #fff;
	font-size: 20px;
}
.normalLink {
	padding: 6px 8px 6px 16px;
	background-color: #2f7faa;
	text-decoration: none;
	line-height: 40px;
	display: block;
	color: #fff;
	font-size: 20px;
}
.inactiveLink {
    padding: 6px 8px 6px 16px;
	text-decoration: none;
    font-size: 20px;
	line-height: 40px;
    color: #818181;
    display: block;
}
.inactiveLink:hover {
	padding: 6px 8px 6px 16px;
	background-color: #2f7faa;
	text-decoration: none;
	line-height: 40px;
	display: block;
	color: #fff;
	font-size: 20px;
}
@media screen and (max-width: 620px) {
	.minorCardHeader{
		width: 100%;
	}
	.sidenav {
		width: 120px;
	}
	.main{
		margin-left: 100px;
	}
	.controllableList ul{
		width: auto;
	}
	.column {
		width: 100%;
	}
	.card {
		margin: 1px;
		justify-content: 'center';
		align-items: 'center';
		width:70%;
	}
	.card img{
		width:100%;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}

}

@media screen and (max-width: 370px) {
	.card {
		margin: 1px;
		justify-content: 'center';
		align-items: 'center';
		width:70%;
	}
	.card img{
		width:35%;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}


}
@media screen and (max-width: 1085px) {
	.row {
		justify-content: 'center'
	}
    .column {
        width: 100%
	}
	.card {
		width: 100%;
	}
}